
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 270 4.7% 11%;
    --foreground: 210 40% 98%;

    --card: 270 3.7% 15.9%;
    --card-foreground: 210 40% 98%;

    --popover: 270 4.7% 11%;
    --popover-foreground: 210 40% 98%;

    --primary: 281.3 94.4% 69.6%;
    --primary-foreground: 210 40% 98%;

    --secondary: 263.4 70% 50.4%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 281.3 94.4% 69.6%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 281.3 94.4% 69.6%;

    --radius: 0.5rem;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 270 4.7% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-muted-foreground: 215 20.2% 65.1%;
    --sidebar-primary: 281.3 94.4% 69.6%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 25.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 25.5%;
    --sidebar-ring: 281.3 94.4% 69.6%;

    --user-message: 281.3 94.4% 69.6%;
    --user-message-foreground: 210 40% 98%;
  }

  .light {
    --background: 266.7 42.9% 96.3%;
    --foreground: 270 4.7% 11%;

    --card: 0 0% 100%;
    --card-foreground: 270 4.7% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 270 4.7% 11%;

    --primary: 281.3 94.4% 69.6%;
    --primary-foreground: 210 40% 98%;

    --secondary: 263.4 70% 50.4%;
    --secondary-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 281.3 94.4% 69.6%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 281.3 94.4% 69.6%;

    --sidebar-background: 270 4.7% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-muted-foreground: 215 20.2% 65.1%;
    --sidebar-primary: 281.3 94.4% 69.6%;
    --sidebar-primary-foreground: 210 40% 98%;
    --sidebar-accent: 217.2 32.6% 25.5%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-border: 217.2 32.6% 25.5%;
    --sidebar-ring: 281.3 94.4% 69.6%;

    --user-message: 281.3 94.4% 69.6%;
    --user-message-foreground: 210 40% 98%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h3 {
    @apply text-primary;
  }
}
